#################################################################
### OS Helpers
#################################################################

alias rf="rm -rf"
alias hosts="sudo vi /etc/hosts"

# List all files colorized in long format
alias l="ls -laF"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Show the lock screen
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"


### Navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."


### Network
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"


#################################################################
### GIT Helpers
#################################################################

alias gst="git status"
alias pop="git stash pop"
alias switch="git checkout"
alias pull="git pull origin"
alias amend="git commit --amend"
alias nah="git reset --hard HEAD"
alias stash="git stash --include-untracked"

# Pushes all the code up in the current directory
function pushme {
    br=`git branch | grep "*"`

    params=''
    for i in $*;
    do
        params=" $params $i"
    done
    params=$(echo $params | sed 's,^ *,,; s, *$,,')
    git add --all
    git commit -m "$params"
    git push origin ${br/* /}
}

#################################################################
### Composer
#################################################################

alias outdated="composer outdated"
alias check='php ~/.composer/vendor/sensiolabs/security-checker/./security-checker security:check composer.lock'


#################################################################
### Laravel Helpers
#################################################################

alias artisan="php artisan"

#### Valet
# Share with ngrok
alias share="valet share"


#### Testing
alias dusk="php artisan dusk"
alias ut="./vendor/bin/phpunit"


#### Webpack
alias dev="npm run dev"
alias live="npm run hmr"
alias watch="npm run watch"
alias prod="npm run production"


#### Workers
alias retry="php artisan queue:retry all"
alias work="php artisan queue:work --tries=1"


#### Homestead
alias vm="ssh vagrant@127.0.0.1 -p 2222"
alias homestead='function __homestead() { (cd ~/Homestead && vagrant $*); unset -f __homestead; }; __homestead'


#################################################################
### CodePier Helpers
#################################################################
alias routes="php artisan laroute:generate"


#################################################################
### Random
#################################################################

# Fixes Files ^M "command not found: ^M"
alias fixfile="dos2unix"

# Brew Helpers
alias rm_brew="brew list | xargs brew rm"