# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$@"
}

archive () {
   zip -r "$1".zip -i "$1" ;
}

function db {
    if [ "$1" = "refresh" ]; then
        echo "drop database $2;" | mysql -u root
        echo "create database $2;" | mysql -u root
    elif [ "$1" = "create" ]; then
        echo "create database $2;" | mysql -u root
    elif [ "$1" = "drop" ]; then
         echo "drop database $2;" | mysql -u root
    fi
}

commit() {
    echo What taiga issue are you working on?
    read issue

    echo What did you work on?
    read message

    if [ ! -z "$issue" ]
    then
        issue="TG-$issue : "
    fi

    br=`git branch | grep "*"`

    git add --all
    git commit -m "$issue$message"
    git push origin ${br/* /}
}