[alias]
	lga = log --oneline --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[core]
    safecrlf = true
	autocrlf = input
	excludesfile = /Users/lukepolicinski/.global-gitignore
[user]
	name = Luke Policinski
	email = luke.policinski@egov.com
